*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family:Brush Script MT, Brush Script Std, cursive ;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:50px auto;
    background: linear-gradient(to right,
    rgb(195, 198, 255), rgb(232, 233, 253));
    margin: 0;
    flex-wrap: wrap;
    flex-direction: column;
}
header{ 
    width: 100%;
    background: linear-gradient(to top,rgb(174, 177, 224), rgb(232, 233, 253) );
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    
}
.container{
   display: flex;
    flex-direction: column; 
    gap: 30px;
    align-items: center;    
    width: 90%;
    max-width: 800px;
    
}
.container1{
   display: flex;
    flex-direction: row-reverse; 
    gap: 30px;
    align-items: flex-start;    
    width: 100%;
}


header{
    text-align: center;
    width: 500px; 
    
}
h2{ 
    text-align: center;
    padding: 5px;
}
#postform input,
#postform label,
#postform select,
#postform textarea{
    display: block;
    width: 100%;
    margin-bottom: 10px;

 
}
.listsection{ 
    width: 1000px;
    flex: 2;
    background-color: rgb(253, 248, 248);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
table{
    border-collapse: collapse;
    width: 100%;

}
table, th, tr{
    border: 1px solid black;
}
.formsection{
    width: 450px;
    flex: 1;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
/*button*/
#submitbtn {
   font-size: 18px;
letter-spacing: 2px;
text-transform: uppercase;
display: inline-block;
text-align: center;
font-weight: bold;
padding: 0.7em 2em;
border: 3px solid rgb(204, 211, 252);
border-radius: 2px;
position: relative;
box-shadow: 0 2px 10px ☐ rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
color: rgb(79, 80, 90);
text-decoration: none;
transition: 0.3s ease all;
z-index: 1;
}
#submitbtn::before{
    transition: 0.5s all ease;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: rgb(204, 211, 252);
    z-index: 1;
}
#submitbtn:hover, #submitbtn:focus {
    color: white;
}

#submitbtn:active{
    transform: scale(0.9);
}




#deletebtn{
    font-size: 13px;
letter-spacing: 2px;
text-transform: uppercase;
display: inline-block;
text-align: center;
font-weight: bold;
padding: 0.7em 2em;
border: 3px solid rgb(180, 110, 110);
border-radius: 2px;
position: relative;
box-shadow: 0 2px 10px ☐ rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
color: rgb(79, 80, 90);
text-decoration: none;
transition: 0.3s ease all;
z-index: 1;
background-color: rgb(255, 171, 171);
}
#submitbtn::before{
    transition: 0.5s all ease;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: rgb(170, 77, 77);
    z-index: 1;
}
#deletebtn:hover, #deletebtn:focus{
    color: white;
}
#deletebtn:active{
transform: scale(0.9);
}
